@{
    Layout = "~/Views/Layauts/Diseñoindex.cshtml";
    ViewBag.Title = "Ingreso proveedor";
}

<div class="container containerprincipal">

    <div class="row">
        <div class="col-lg-6">
            <div>
                <img src="./img/coodyBlack.png" alt="">
            </div>
            <section>
                <h2 class="mt-5">
                    Inicia
                    Sesión Proveedor
                </h2>
            </section>

            <form>
                <div class="form-group mt-4">
                    <label for="inputAddress">Email</label>
                    <input type="text" class="form-control inputPeque" id="correoinput" placeholder="Correo" required>
                </div>
                <div class="form-group mt-3">
                    <label for="inputAddress">Contraseña</label>
                    <input type="password" class="form-control inputPeque" id="contrainput"
                           placeholder="Contraseña" required>
                </div>
                <div class="divBoton">
                    <a href="#" class="olvidoContrase">"Olvidaste tu clave"</a>
                    <a href="#" class="formregistrate">@Html.ActionLink("- Registrate", "Formproveedor", "Home")</a>
                    <br>
                    <br>
                    <a href="#" class="btn btn-primary"> Iniciar</a>
                </div>
            </form>


        </div>
        
    </div>
</div>